

.user-name{
    margin-right: 20px;
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 0px;
    word-spacing: -2.6px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase
}

.header-section {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

*/


.table-header {
    background-color: #f0f4f8;
    font-weight: bold;
    border-bottom: 2px solid #d1d5db;
    position: sticky;
    top: 0;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}


tbody {
    height: 1000px;
    overflow-y: auto;
    word-wrap: break-word;
    overflow: hidden;
    
    text-overflow: ellipsis;
}

tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout:fixed;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f8f9fa;
}


.search-bar{
    border-radius: 20px;
}

.header-section {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*  */
tbody tr:hover {
    background-color: #f0f4f8;
    transition: background-color 0.3s ease;
}


.table-responsive {
    overflow: auto;
    height: 100vh; /* Adjust this value as needed */
    position: relative;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    widt
}

th {

    border: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
    padding: 12px 8px;
    text-align: left;
    font-weight: bold;
}

td {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.table-responsive::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to left, rgba(0,0,0,0.05), transparent);
    pointer-events: none;
}
        .resizer {
            position: absolute;
            top: 0;
            right: 0;
     
            user-select: none;
            height: 100%;
            background-color: #dee2e6;
        }
        .resizer:hover, .resizing {
            background-color: #0056b3;
        }